{% extends "base_generic.html" %}

{% block content %}

<h1>Шаблон</h1>

<p><strong>Описание:</strong> {{ template.diplom_description}}</p>
<p><strong>Cотрудник:</strong> {{ template.user_id.last_name}} {{ template.user_id.first_name}} {{ template.user_id.profile.patronymic}}</p>
<p><strong>Должность сотрудника:</strong> {{ template.user_id.profile.job}}</p>
<p><strong>Наименования диплома:</strong> {{ template.diplom_name }}</p>
<p><strong>Наимование организации:</strong> {{ template.organization_name }}</p>
<p><strong>Сайт организации:</strong> {{ template.organization_url }}</p>
<p><strong>Почта организации:</strong> {{ template.organization_email }}</p>
<a class="buv-c-sumbit-button" href="/chdi/template/{{ template.id }}/delete">Удалить</a>
<a class="buv-c-back-button" href="{% url 'templates'%}">Назад</a>
{% endblock %}