{% extends 'base_generic.html' %}

{% block content %}

    <!-- Award -->
    {% block award %}

        <div class="certificate-owner">
            <h1>{{ name }}</h1>
        </div>

        <div class="certificate-meta">
            <span class="certificate-name">{{ title }}</span>
            <span class="issuer-name">{{ organization }}</span>
            <span class="date-span">{{ subtitle }}</span>
        </div>

        <div class="certificate-description">
            <p>{{ text }}</p>
        </div>

    {% endblock %}
    <div class="verify">
        <p>{{ organization }} подписал в цифровом виде диплом и выпустил его в блокчейне <span class="chain">{{ award.chain }}.</span></p>
        <button id="verify-button" value="{{ verification_info }}" class="buv-c-verify-button_award">Проверить диплом</button>
        {% if ver_responce == 1 %}
        <span class="verified"><img id="verified-icon" src="/static/img/verified.png" style="max-width: 36px;max-height: 36px;"> Диплом правильный </span>
        {% elif ver_responce == 2 %}
        <span class="not-verified"><img id="recall-icon"
                                                          src="/static/img/not-verified.png" style="max-width: 36px;max-height: 36px;"> Диплом отозван </span>
        {% else %}
        <span class="not-verified"><img id="not-verified-icon"
                                                          src="/static/img/not-verified.png" style="max-width: 36px;max-height: 36px;"> Диплом не правильный </span>
        {% endif %}
    </div>

    <div>
        <h6 id="progress-msg"></h6>
    </div>




    <div class="issuer-id">
        <strong>Сайт:</strong> <span class="issuer-id-url"><a href="{{ url }}" target="_blank">{{ url }}</a></span>
        <strong>Почта:</strong> <span class="issuer-id-url"><a href="{{ email }}" target="_blank">{{ email }}</a></span>
    </div>

    <a href="{% url 'index' %}" class="back-button">Проверить другой диплом</a>
{% endblock %}
